<div class="container--big-card">
    <div class="big-card--photo">
        <img src="https://kbimages1-a.akamaihd.net/39f5758d-be8e-4dfd-8395-52092dfb6f49/1200/1200/False/marvel-s-iron-man-3.jpg"
            alt="foto default"
            class="card--img"
            height="200px"
        >
    </div>
    <div class="big-card--title">
        <h2 class="card-title"><a href="#">Saiu a nova versão do angular</a></h2>
    </div>
    <div class="big-card--description">
        <p class="card-description">
            <a href="#" class="card-description-a">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 15
            </a>
        </p>
    </div>
</div>