.container--menu-title {
    color: white;
}

.container--menu-title hr {
    margin-top: 20px;
    margin-bottom: 5px;
}

.menu--title {
    margin: 15px 0;
    font-size: 135px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}